html, body
{
  background-image: url("building.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  min-width: 375px;
}

.text-primary
{
  background-color: rgba(0,0,255,.1);
}

.btn-outline-success
{
  background-color: black;
  color: white;
}

.btn-outline-success:hover
{
  background-color: purple;
  opacity: .4;
}

.navbar-brand
{
  font-family: "copperplate gothic bold";
  font-style: italic;
}
